/* STYLES */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}

/* Page header and menu */
header {
    display: inline-flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: black;
    border-bottom: 1px solid seashell;
    width: 100%;
    height: 69px;
    justify-content: space-between;
}

header img {
    max-height: 50px;
    width: auto;
    margin-left: 10px;
}

nav {
    display: inline-flex;
}

li {
    list-style: none;
    display: inline;
    margin: 10px
}

li a {
    text-decoration: underline;
    color: seashell;
    font-size: 1rem;
}

li a:hover {
    color: lightslategray;
}

/* Mission section */
#mission {
    background-image: url("../img-mission-background.webp");
    height: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.mission-text {
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
}

#mission h2 {
    justify-content: center;
}

#mission,
#locations {
    width: 1200px;
}

/* Featured section */

.gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

figure {
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

img {
    height: 200px;
    width: 300px;
}

figcaption h4 {
    margin: 5px;
}

/* Location sections */
#locations {
    margin: 0 auto;
    background-image: url("../img-locations-background.webp");
    height: 500px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.address {
    width: 300px;
    background-color: rgba(0,0,0, 0.5);
    font-size: 0.9rem;
    display: inline-block;
    margin: 0px 40px 90px 40px;
}

.locale {
    font-weight: normal;
}

.contact {
    height: 200px;
}

footer {
    text-align: left;
    margin-left: 20px;
}

